body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar-dark {
    background-color: #a33d92;
}

.carousel-item img {
    max-height: 600px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption-custom {
    color: rgb(80, 37, 37);
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.carousel-caption-custom h5 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.carousel-caption-custom p {
    font-size: 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
